/* 
    Document   : styles
    Created on : 03.feb.2012, 12:35:52
    Author     : Neberd
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

body{
    background-color: #62954B;
    /*background: -webkit-gradient(linear, 20% 30%, 20% 30%, from(#62954B), to(#486641));*/
    background: -webkit-radial-gradient(circle, #6dcf57, #2f4d10);
    width: auto;
    height: auto;
}
#circle{
    display: block; 
    width: 15px; 
    height: 15px; 
    /*background-color: silver;*/
    border: 1px solid white; 
    border-radius: 360px;
    /*margin: 0 auto;
    /*list-style: none;*/
    
}

#container{
    width: 980px;
    height: 400px;
    margin-top: 25%;
    /*margin-left: auto;
    margin-right: auto;
    margin: 10% 20% 10% 20%;*/
    display: block;
}


#layer{
    height: 250px;
    width: 980px;
    background-color: #A15421;	
    bottom: 0px;
    position: fixed;
    /*margin-left:15%;
    margin-right:15%;*/
    -webkit-box-shadow: 3px 3px 70px #000;
    -moz-box-shadow: 3px 3px 70px #000;
    border-radius: 10px 10px 0px 0px;
    background: -webkit-gradient(linear, right top, left top, color-stop(0,burlywood), color-stop(1,#A15421)); 
}

#layer hgroup{
    text-align: center;
    font-family: lucida handwriting;
    margin: 5%;
    display: none;
}

#layer h1{
    font-size:3.5em;
}

#backlayer{
    background-color: #63290D;	
    height: 230px;	
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.players{	
    background-color: #DAD9D7;
    /*background-image: url(img/player.png);*/
    height: 160px;
    width: 205px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 20px #000;
    -moz-box-shadow: 3px 3px 70px #000;
}


#player1{
    float: left;
    margin-left: 5%;
    
}

#player2{
    float: right;
    margin-right: 5%;
}

form{
    background-color: #63290D;	
    /*margin: 10% 10% 10% 10%;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 710px;
    border: 3px solid #63290D;
    display: none;
}
#textfield{
    width: 600px;
    height: 40px;
    border-radius: 2px;
}

#submit{
    width: 100px;
    height: 40px;
    background-color: yellowgreen;
    font-family: lucida handwriting;
    font-weight: bold;
    color: green;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5f57a), to(#669900));
    border-radius: 2px;
}

#start{
    width: 200px;
    height: 60px;
    background-color: yellowgreen;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5f57a), to(#669900));
    /*margin: 10% 35% 10% 35%;*/
    margin-top: 10%;
    margin-left: 390px;
    margin-right: 390px;
    font-family: lucida handwriting;
    font-weight: bold;
    color: darkgreen;
    font-size: 2em;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 50px #63290D;
    display: none;
}

#scoreboard{
    width: 630px;
    height: 200px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 50px #000;
    background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#3D3D3D));
}

.goal{
    width: 100px;
    height: 130px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 5%;
}

.goal p{
    width: auto;
    height: 100px;
    font-size: 4.5em;
    text-align: center;
    
    border-radius: 5%;
    background-color: white;
}


#home{
    float: left;
    margin-left: 200px;
   
}

h6{
    text-align: center;
    color: silver;
    font-size: 1.0em;
    font-family: verdana;
}

#visitor{
    float: right;
    margin-right: 200px;  
}


#fores{
    background-color: black;
    width: 630px;
    height: 120px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px #000;
    background: -webkit-gradient(linear, left bottom, left top, from(#171717), to(#3D3D3D));
}

#digital{
    width: 100px;
    height: 40px;
    border-radius: 1%;
    background: -webkit-gradient(linear, left bottom, left top, from(#3D3D3D), to(black));
    margin: 15% 0% 0% 5%;
    position: absolute;
/*text-align: center;
font-size: 1.5em;
padding: 5px;*/
}


#watch{
    text-align: center;
    color: silver;
	text-shadow: black 2px 2px 2px;
    font-size: 1.5em;
    padding: 5px;

}

.reflection{
        -webkit-box-reflect:below -19px 
		-webkit-gradient(linear, left top, left bottom, from(transparent), 
			color-stop(0.5, transparent), to(black));
}

/*
.text{
    background-color: white;
    width: 50px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}

#h{
    float: left;
    background-color: red;
}

#v{
    float:right;
    background-color: yellow;
}
*/

.center{
    width: 980px;
    margin: 0 auto;
}

.overflow{
    overflow: hidden;
}

#end-game{
    width: 980px;
    height: 500px;
    background-color: silver;
    border-radius: 0px 0px 10px 10px;
    background: -webkit-gradient(linear, right top, left top, from(rgb(211,211,211)), to(rgb(248,248,248)));
    /*background: -webkit-radial-gradient(circle, rgb(252,252,252), rgb(234,234,234));*/
	display: block;
}

#end-game h1{
    text-align: center;
    font-family: lucida handwriting;
    font-size: 1.8em;
    margin-bottom: 1%;
}

#stat{
    width: 800px;
    height: 360px;
    background-color: white;
    margin: 0 auto;
    margin-top: 2.5%;
    border-radius: 10px;
    -webkit-box-shadow: 30px 30px 100px #fff;
}

.buttons{
    width: 130px;
    height: 50px;
    font-family: cursive;
    font-size: 1.2em;
    color: rgb(155,99,0);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(253,235,141)), to(rgb(228,202,99)));
    border-radius: .3em;
    border: 1px rgb(133,133,133)solid;
    margin-bottom: 1%;
}

#restart{
    
    float: left;
    margin-left: 25%;
}

#quit{
    float: right;
    margin-right: 25%;
}


@media screen and (min-width: 1200px){
	#container #layer #backlayer #fores #end-game{
				width:125%;
                height: 125%;
	}  

	header h1#logo a{
		width:1100px;
		height:150px;
		
	}                          

}

@media handheld{
    #container #layer #backlayer #fores #end-game{
        width: auto;
        height: auto;
    }
}

.players-stat{
	background-color: red;
    /*background-image: url(img/player.png);*/
    height: 130px;
    width: 198px;
}

#stat-center{
	background-color:none;/*yellow*/
	height:130px;
	width:400px;
	margin: 215px 200px 215px 200px;
	position: absolute;
	text-align: left;
	
}

#player2-stat{
	float:right;
	border-left: 2px solid blue;
}
#player1-stat{
	float:left;
	border-right: 2px solid black;
}



